{% extends "pages/base.html" %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class=" container">


    <div class="container">

        

        <div class="px-2 py-2 border my-4  row  align-items-center">

            <div>
            <img src="{{  objects.photo.url }}" class=" mt-3 img-thumbnail rounded mx-4" alt="Image is Loading"
                style="width:200px;height:200px;">
            </div>
            <div class=" text-center align-middle ">
            <h4 class="align-middle my-2"> {{objects.name}} </h4>
           
        </div>
            <p class="mx-5 btn-lg btn-warning ">{{objects.points}}</p>

        </div>

       <form class="container" method="post" action="{% url 'taskcomplete' objects.id%}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p> <button type="submit" class="btn btn-primary    ">Submit Task</button></p>

        </form> 

    </div>
</div>
{% endblock content %}